<header class="header">
    <nav class="navbar">
      <a class="brand" href="./"><img src="../../assets/Logo.png" alt="logo" href="./" width="50" /> <h5>QR MENU</h5
        > </a>
      <input type="checkbox" id="nav" class="hidden">
      <label for="nav" class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
       </label>
      <div class="wrapper">
        <ul class="menu">
        
          <li id="connection" class="menu-item"><a href="connection">Connection</a></li>
          <li id="inscription" class="menu-item"><a href="register">Register</a></li>
          <li id="dashboard" class="menu-item"><a href="dashboard">Dashboard</a></li>
          <li id="disconnection" class="menu-item"><a href="connection" (click)="logout()">Disconnection</a></li>
          <!-- <li id="profil" class="menu-item"><a href="profil">Profil</a></li> -->
          <!-- <li id="deconnection" class="menu-item"><a href="connection" >Deconnection</a></li> -->
         
        </ul>
      </div>
    </nav>
  </header>
